.mainNavBarContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    padding: 1rem 2rem;
    background-color: #EEEBEA;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0;
    left: 0;
    /* width: 100%; */
    font-family: Inter;
    gap: 25px;
    padding-bottom: 8px;
}

.topMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-weight: 600;
    width: 97%;
}

.topMenuEmail {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: black;
}

.topMenuEmailAvatar {
    width: 18px;
    height: 18px;
    background-color: #B82626;
}

.topMenuUserAvatar {
    width: 32px;
    height: 32px;
    background-color: #B82626;
    border-radius: 100%;
}

.bottonMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 22px;
    color: black;
    padding: 0;
}

.bottonMenuContainer {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #444342;
    font-size: 16px;
    font-weight: 500;

}